.logo {
	display: block;
	margin: 40px 0!important;
	width: 140px;
	height: 40px;
}

.post {
	background-color: #EEE;
	padding: 20px;
}

.back {
	margin: 40px 0;
}

.container img {
	max-width: 100%;
	height: auto;
	margin: 20px 0;
}

.container iframe {
	max-width: 100%;
	margin: 20px 0;
}