h1 {
	margin: 40px 0;
	padding-bottom: 5px;
	border-bottom: 1px solid #CCC;
}

.post {
	background-color: #EEE;
	padding: 20px;
}

.back {
	margin: 40px 0;
}

.container img {
	max-width: 100%;
	height: auto;
	margin: 20px 0;
}